.sample-p {
  background-color: grey;
  width: 100%;
  border: 10px solid cyan;
  padding: 50px;
  margin: 20px;
}
.gif {
background-color: black;
  width: 100%;
  border: 10px solid rgb(255, 0, 0);
  padding: 50px;
  margin: 20px;
}
.table {
  background-color: grey;
  width: 100%;
  border: 10px solid rgb(0, 255, 76);
  padding: 50px;
  margin: 20px;
}
.body {
  background-color: black;
}